body {
    background-color: black;
}

img.logoContainer{
   margin: 0;
   position: absolute;
   top: 37%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%)
}

img.gitHub{
   margin: 0;
   position: absolute;
   top: 60%;
   left: 55%;
   margin-right: -50%;
   transform: translate(-50%, -50%)
}

img.linkedIn{
   margin: 0;
   position: absolute;
   top: 60%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%)
}

img.shopify{
   margin: 0;
   position: absolute;
   top: 60%;
   left: 45%;
   margin-right: -50%;
   transform: translate(-50%, -50%)
}

#particles-js{
  height: 100%;
  background: black;
}
