body {
    background-color: black;
}

img.logoContainer{
   margin: 0;
   position: absolute;
   top: 40%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%)
}

img.gitHub{
   margin: 0;
   position: absolute;
   top: 60%;
   left: 48%;
   margin-right: -50%;
   transform: translate(-50%, -50%)
}

img.linkedIn{
   margin: 0;
   position: absolute;
   top: 60%;
   left: 52%;
   margin-right: -50%;
   transform: translate(-50%, -50%)
}
